<div class="featured-item">

    {% if featured_heading != 'none' %}
        <div class="row">
            <div class="large-12 columns">
                <h2>Featured result</h2>
            </div>
        </div>
    {%  endif %}

    <div class="row">
        <div class="large-12 columns">
            <a href="{{ item.permalink() }}">
                {{ item.featuredImage('item-image-12-small') | raw }}
            </a>
        </div>
        <div class="large-12 columns">
            <a href="{{ item.permalink() }}" class="post-item">
                <p class="date">{{ item.date() | raw }}</p>
                <h3 class="font-theme-colour featured">{{ item.title() | raw }}</h3>
                <p>{{ item.excerpt(350) | raw }}</p>
            </a>
        </div>
    </div>
</div>
