{% if excerpt_length == 'none' %}{% set excerpt_length = 0 %}{% endif %}

{% block item_subtitle %}
    {% if date != 'none' %}
        <p class="date">{{ item.dateString("j M Y", true) | raw }}</p>
    {% endif %}     
{% endblock %}

{% block item_title %}
    <h3 class="font-theme-colour">{{ item.title() | raw  }}</h3>
    {% if 'side-items' in classes and item.postType() == 'person' %}
        <p class="item-role">{{ item.role() }}</p>
    {% endif %}
{% endblock %}

{#{% if 'side-items' not in classes and tags != 'none' %}#}

    {#{% block item_type %}#}
        {#{%  if item.postTypeIcon() %}#}
            {#<span class="{{ item.postTypeIcon() }} item-type-image"></span>#}
        {#{% endif %}#}
        {#<p class="item-type">{{ item.friendlyName() }}</p>#}
    {#{% endblock %}#}

{#{% endif %}#}

{% block item_content %}
    {% if excerpt_length != 0 %}
        <p>{{ item.excerpt(excerpt_length) | raw }}</p>
    {% endif %}    
{% endblock %}

{#{% if 'side-items' not in classes and tags != 'none' and tags != 'post-type' %}#}

    {#{% block item_authors %}#}
        {#{% if item.hasAuthors() %}#}
            {#<p class="item-authors"><span class="fa fa-user"></span> {{ item.authorTitles() | join(', ')  }}</p>#}
        {#{% endif %}#}
    {#{% endblock %}#}

    {#{% block item_themes %}#}
        {#{% if item.hasThemes() %}#}
            {#<p class="item-themes"><span class="fa fa-link"></span> {{ item.themeTitles() | join(', ')  }}</p>#}
        {#{% endif %}#}
    {#{% endblock %}#}

{#{% endif %}#}