<div class="section">
    <div class="row">
        <div class="large-8 columns">
            {% include "OutlandishAcadOowpBundle:Section:title.html.twig" %}
            {% set item = section.items | first  %}
            <a href="{{ item.permalink() }}" class="post-item">
                <p class="subtitle">{{ item.date() }}</p>
                <h3 class="font-theme-colour">{{ item.title() }}</h3>
                <p>{{ item.excerpt(800) }}</p>
            </a>
        </div>
        <div class="large-16 columns">
            {{ item.featuredImage('large') | raw }}
            <div class="row">
                {% if not excerpt_length %}{% set excerpt_length = 150 %}{% endif %}
                {% for item in section.items %}
                    {% if not loop.first and loop.index <= 3 %}
                        <div class="large-12 columns">
                            {% include "OutlandishAcadOowpBundle:Default:defaultItem.html.twig" with {'item': item, 'image': 'none', 'excerpt_length': excerpt_length} %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>