{% if size is not defined %}
    {% set size = 'normal' %}
{% endif %}

    {% if size == 'small' %}

        <a href="{{ item.permalink() }}" class="people-item">
            {% include "OutlandishAcadOowpBundle:Person:avatar.html.twig" with {
            'post': item,
            'size': 'avatar-square' } %}
            <h4>{{ item.title() | raw }}</h4>
        </a>
    {% else %}
        <a href="{{ item.permalink() | raw }}" class="post-item {{ classes }}">
            <div class="row">
                <div class="columns large-11">
                    <div class="post-item-image">
                        {% block item_image %}{{ item.featuredImage('large') | raw }}{% endblock %}
                        {% if 'image-overlay' in classes %}
                            <p class="date">{{ item.dateString("j M Y", true) | raw }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="columns large-13">
                    {% block item_title %}<h3 class="font-theme-colour">{{ item.title() | raw }}</h3>{% endblock %}
                    {% block item_content %}<p>{{ item.excerpt(200) | raw }}</p>{% endblock %}
                </div>
            </div>
        </a>
    {% endif %}

