{% extends '::layout.html.twig' %}

{% block title %}{{ post.title() }}{% endblock %}

{% block content %}
    <article class="section vcard">
        <div class="row">
            <div class="medium-16 columns">
                <div class="content main">
                    {% block postAvatar %}
                        <div class="medium-6 columns">
                            {% include "OutlandishAcadOowpBundle:Partial:avatar.html.twig" with {
                            'post': post,
                            'size': 'avatar-square',
                            'classes': 'photo' } %}
                        </div>
                    {% endblock %}

                    {% block postTitle %}
                        <div class="medium-18 columns">
                            <h1>
                                <span class="fn">{{ post.title() }}</span>
                            </h1>
                            <span class="n">
                                <span class="honorific-prefix">{{ post.metadata('honorific_prefix') }}</span>
                                <span class="given-name">{{ post.metadata('given_name') }}</span>
                                <span class="family-name">{{ post.metadata('family_name') }}</span>
                            </span>
                            <span class="role">{{ post.role() }}</span>
                        </div>
                    {% endblock %}

                    <div class="row">
                        <div class="large-20 columns">
                            <div class="content post note">
                                {{ post.content() | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="medium-8 columns">
                {% block sideBar %}
                    {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
                    'post': post } %}
                {% endblock %}

                <div class="person-details">
                    <h3 class="block-heading">Contact Details</h3>

                    <p>Email: <span class="email">{{ post.metadata('email') }}</span></p>

                    <p>Telephone: <span class="tel">{{ post.metadata('tel') }}</span></p>
                </div>
            </div>
        </div>
    </article>

    {% block related %}
        {{ render(controller('OutlandishAcadOowpBundle:Related:renderResources', {
        'post': post
        })) }}
    {% endblock %}

{% endblock %}

