{% extends '::layout.html.twig' %}

{% block title %}{{ post.title() | raw }}{% endblock %}

{% block content %}
    <article class="section vcard">
        <div class="row">
            <div class="medium-16 columns">
                <div class="content main">
                    <div class="row">
                        {% block postAvatar %}
                            <div class="medium-5 columns">
                                {% include "OutlandishAcadOowpBundle:Partial:avatar.html.twig" with {
                                'post': post,
                                'size': 'avatar-square',
                                'classes': 'photo' } %}
                            </div>
                        {% endblock %}

                        {% block postTitle %}
                            <div class="medium-19 columns">
                                <div class="person-heading">
                                    <span class="role">{{ post.role() | raw }}</span>
                                    <h1>
                                        <span class="fn">{{ post.title() | raw }}</span>
                                    </h1>
                                    <span class="n">
                                        <span class="honorific-prefix">{{ post.metadata('honorific_prefix') | raw }}</span>
                                        <span class="given-name">{{ post.metadata('given_name') | raw }}</span>
                                        <span class="family-name">{{ post.metadata('family_name') | raw }}</span>
                                    </span>
                                </div>

                            </div>
                        {% endblock %}
                    </div>
                    <div class="row">
                        <div class="large-20 columns">
                            <div class="content post note">
                                {{ post.content() | raw }}
                            </div>
                        </div>
                    </div>

                    {% include "OutlandishAcadOowpBundle:Partial:connected.html.twig" with {
                    'connectedItems': bottomItems,
                    'classes': 'none'} %}

                </div>
            </div>
            <div class="medium-8 columns">
                {% block sideBar %}
                    {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
                    'post': post } %}
                {% endblock %}

                {%  if post.metadata('role') or post.metadata('email') or post.metadata('tel') %}

                    <div class="row">
                        <div class="large-24 columns">
                            <div class="person-details">
                                <hr>
                                <h3 class="block-heading">Personal Details</h3>

                                {%  if post.metadata('role') %}
                                    <p>Role: <span>{{ post.metadata('role') | raw }}</span></p>
                                {% endif %}

                                {%  if post.metadata('email') %}
                                    <p>Email: <span class="email">{{ post.metadata('email') | raw }}</span></p>
                                {% endif %}

                                {%  if post.metadata('tel') %}
                                    <p>Telephone: <span class="tel">{{ post.metadata('tel') | raw }}</span></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% block connected_side_posts %}

                    <div class="row">
                        <div class="large-24 columns">

                            {% include "OutlandishAcadOowpBundle:Partial:connected.html.twig" with {
                            'connectedItems': sideItems} %}

                        </div>
                    </div>

                {% endblock %}

            </div>
        </div>
    </article>

    {% block related %}
        {{ render(controller('OutlandishAcadOowpBundle:Related:renderResources', {
        'post': post
        })) }}
    {% endblock %}

{% endblock %}

