<a href="{{ person.permalink() }}" class="people-item">
    {% if person.featuredImage('medium') %}
        <img src="{{ person.featuredImageUrl('small') }}" alt="{{ person.title() }} profile image">
    {% else %}
        <img class="no-profile" src="{{ asset('bundles/outlandishacadoowp/images/no-profile.png') }}" alt="No image for {{ person.title() }}">
    {% endif %}
    <h4>{{ person.title() }}</h4>
</a>