{% extends '::layout.html.twig' %}

{% block content %}
    {% block peopleContent %}
    <div class="row">
        <div class="columns medium-{% if post.featuredImage('large') %}12{% else %}24{% endif %}">
            <h1>{{ post.title() }}</h1>
            <div class="people-intro">
                {{ post.content() | raw }}
            </div>
        </div>
        {% if post.featuredImage('large') %}
            <div class="columns medium-12">
                {% block item_image %}{{ post.featuredImage('large') | raw }}{% endblock %}
            </div>
        {% endif %}
    </div>
    {% endblock %}
    <div class="row">
        <div class="columns large-24">
            {% if roles | length > 0 %}
                <ul class="search-results people accordion first-open">
                    {% for role in roles %}
                        <li class="accordion-item">
                            {% block roleInclude %}
                                <h3>{{ role.title() }}
                                    <a href="#" class="accordion-toggle"></a>
                                </h3>
                                <div class="accordion-content">
                                    {{ role.content() | raw }}
                                    <div class="people-items">
                                        {% for person in role.people %}
                                            {% block personInclude %}
                                                {% include 'OutlandishAcadOowpBundle:Person:personItem.html.twig' with {
                                                'person': person,
                                                'size': 'small' } %}
                                            {% endblock %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endblock %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="search-results people no-roles">
                    {% for person in people %}
                        <li>
                            {% block itemInclude %}
                                {% include 'OutlandishAcadOowpBundle:Person:personItem.html.twig' with {
                                'person': person,
                                'size': 'small'} %}
                            {% endblock %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}