{% extends 'OutlandishAcadOowpBundle:Search:post.html.twig' %}

{% block content_main %}
    <h1>Resources related to {{ post.title() }}</h1>

    {{ search_form.orderby | raw }}

    {% include 'OutlandishAcadOowpBundle:Partial:searchResults.html.twig' %}

{% endblock %}

{% block content_sidebar %}

    {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
    'post': post} %}

    <h3 class="block-heading">{{ post.title() | raw }}</h3>
    {{ post.featuredImage() | raw }}
    {{ post.content() | raw }}

    {{ render(controller('OutlandishAcadOowpBundle:Navigation:renderSideMenu', {
    'maxDepth' : 3,
    'rootPost': post.getRoot()
    })) }}

{% endblock %}