<div id="filter-panel">
    <div class="row">
        <div class="large-22 columns large-centered">
            <div class="search">
                <form class="main-search" action="{{ path('home_page') }}" method="get">
                    <input type="text" name="s" id="s" placeholder="Search..." />
                    <button href="#" class="search-icon submit right">
                        <span class="fa fa-search"></span>
                    </button>
                </form>
            </div>
            <div class="mobile-hide">
                <div class="row">
                    <div class="large-24 columns large-centered">
                        {% for facet in facets %}
                            <div>
                                <hr>
                                <h3>Browse by {{ facet.section | lower | raw }}</h3>
                                <ul class="small-block-grid-4 large-block-grid-6 block-grid-new-padding block-grid-link">
                                    {% for option in facet.options %}
                                        <li>
                                            <a href="{{ option.post.permalink() }}">

                                                {% if option.post.featuredImage()  %}
                                                    {{ option.post.featuredImage('item-image-6') | raw }}
                                                {% else %}
                                                    <img src="{{ asset('bundles/outlandishacadoowp/images/placeholder.png') }}">
                                                {% endif %}
                                                <h4>{{ option.post.title() }}</h4>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>