{% extends 'OutlandishAcadOowpBundle:Default:defaultPost.html.twig' %}

{% block postTitle %}<h1>'{{ post.title() | raw }}'</h1>{% endblock %}

{% set author_names = post.author_names() %}
{% set authors = post.authors() %}

{% block subTitle %}
    <ul class="subtitle-list">
        <li class="font-theme-colour">Title: {{ post.title() }}</li>
        <li class="font-theme-colour">Author{% if authors | length > 1 %}s{% endif %}: {{ author_names }}</li>
        <li class="font-theme-colour">Published: {{ post.date }}</li>
        <li class="font-theme-colour">Size: {{ post.attachmentSize() }} </li>
    </ul>

    {% if post.additionalInformation() %}

        <div class="additional-information">
             {{ post.additionalInformation() | raw }}
        </div>

    {% endif %}

    {% if attachment %}

        <div class="attachment">
            <div class="row">
                <div class="large-18 columns">
                    <p class="font-theme-colour">Link to full paper:</p>
                    <a href="{{  attachment['url'] | raw }}" class="font-theme-colour">{{  attachment['url'] | raw }}</a>
                </div>
                <div class="large-6 columns">
                     <a href="{{ attachment['url'] | raw }}" class="download">
                         <span class="fa fa-chevron-right"></span>
                     </a>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block postContent %}

    <hr>
    <h3 class="block-heading">Extract</h3>

    <h2>'{{ post.title() | raw }}'</h2>

    <p>
        {{ post.excerpt(1000) | raw }}
    </p>

    <hr>
    <h3 class="block-heading">Bibliographic reference</h3>

    {% if author_names %}

        <span class="bio">{{ author_names }}</span>

    {% endif %}

    <span class="bio">{{ post.title() | raw }}</span>

    {% if post.journal() %}

        <span class="bio">{{ post.journal() | raw }}</span>

    {% endif %}

    {% if post.publication() %}

        <span class="bio">{{ post.publication() | raw }}</span>

    {% endif %}

    {% if post.pageNumbers() %}

        <span class="bio">{{ post.pageNumbers() | raw }}</span>

    {% endif %}

{% endblock %}


{% block sideBar %}

  {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
  'post': post,
  'title': 'page'}
  %}

  {% if authors | length > 0 %}
    <hr>
    <h3 class="block-heading">Author{% if authors | length > 1 %}s{% endif %}</h3>
        <div class="authors">
            {% for person in authors %}
                {% include 'OutlandishAcadOowpBundle:Person:personItem.html.twig' with {
                'person': person } %}
            {% endfor %}
        </div>
  {% endif %}

      {% for taxonomy in post.taxonomies() %}
        {% if taxonomy.terms | length > 0 %}
            <div class="taxonomy {{ taxonomy.type }}">
                <hr>
                <h3 class="block-heading">{{ taxonomy.name }}</h3>
                <ul class="terms {{ taxonomy.type }}">
                {% for term in taxonomy.terms %}
                    <li><a href="{{ term.permalink() }}">{{ term.title() | raw }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
      {% endfor %}





{% endblock %}



