{% extends 'OutlandishAcadOowpBundle:Default:defaultPost.html.twig' %}

{% block postTitle %}<h1>'{{ post.title() | raw }}'</h1>{% endblock %}

{% set author_names = post.author_names() %}
{% set authors = post.authors() %}

{% block subTitle %}
    <ul class="subtitle-list">

        {% if author_names %}
            <li class="font-theme-colour">{{ author_names | raw }}</li>
        {% endif %}

        <li class="font-theme-colour"> {{ post.title() | raw }}</li>

        {% if post.journal() %}
            <li class="font-theme-colour">{{ post.journal() | raw }}</li>
        {% endif %}

        {% if post.publication() %}
            <li class="font-theme-colour">{{ post.publication() | raw }}</li>
        {% endif %}

        {% if post.yearPublished() %}
            <li class="font-theme-colour">{{ post.publication() | raw }}</li>
        {% endif %}

        {% if post.pageNumbers() %}
            <li class="font-theme-colour">{{ post.pageNumbers() | raw }}</li>
        {% endif %}

    </ul>

    {% if post.additionalInformation() %}

        <div class="additional-information">
             {{ post.additionalInformation() | raw }}
        </div>

    {% endif %}

    {% if attachment %}

        <div class="attachment">
            <div class="row">
                <div class="large-18 columns">
                    <p class="font-theme-colour">Download:</p>
                    <a href="{{  attachment['url'] | raw }}" class="font-theme-colour">{{  attachment['url'] | raw }}</a>
                </div>
                <div class="large-6 columns">
                     <a href="{{ attachment['url'] | raw }}" class="download">
                         <span class="fa fa-chevron-right"></span>
                     </a>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block postContent %}

    <hr>

    <h3 class="block-heading">Summary</h3>
    <br>

    <h2>'{{ post.title() | raw }}'</h2>

    <p>
        {{ post.content()  |  raw  }}
        {#{{ post.excerpt(1000) | raw }}#}
    </p>

{% endblock %}


{% block sideBar %}

    <div class="row">
        <div class="large-24 columns">

          {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
          'post': post,
          'title': 'page'}
          %}

        </div>
    </div>

    <div class="row">
        <div class="large-24 columns">

        {% include "OutlandishAcadOowpBundle:Partial:author.html.twig" with {
        'authors': authors}
        %}

        </div>
    </div>


    {% for taxonomy in post.taxonomies() %}
        {% if taxonomy.terms | length > 0 %}
            <div class="taxonomy {{ taxonomy.type }}">
                <hr>
                <h3 class="block-heading">{{ taxonomy.name | raw }}</h3>
                <ul class="terms {{ taxonomy.type | raw }}">
                {% for term in taxonomy.terms %}
                    <li>
                        <h3 class="font-theme-colour"><a href="{{ term.permalink() }}">{{ term.title() | raw }}</a></h3>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
      {% endfor %}

{% endblock %}



