{% extends 'OutlandishAcadOowpBundle:Resource:postAbstract.html.twig' %}

{% block content_main %}
    <h1>'{{ post.title() | raw }}'</h1>

    {% if post.bibliographicReference() %}
        <ul class="subtitle-list">
            <li class="font-theme-colour">{{ post.bibliographicReference() | raw }}</li>
        </ul>
    {% endif %}

    {% if post.additionalInformation() %}
        <div class="additional-information">
            {{ post.additionalInformation() | raw }}
        </div>
    {% endif %}

    {% if documentUrl %}
        <div class="document-external">
            <a href="{{  documentUrl | raw }}" class="font-theme-colour" target="_blank">
                <div class="row">
                    <div class="large-18 columns">
                        <p class="font-theme-colour">Access '{{ post.title() | raw }}'</p>
                    </div>
                    <div class="large-6 columns">
                        <span class="fa-stack fa-lg"><i class="fa fa-external-link fa-stack-1x"></i></span>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}

    {% if attachment %}
        <div class="document-external">
            <a href="{{  attachment['url'] | raw }}" class="font-theme-colour">
                <div class="row">
                    <div class="large-18 columns">
                        <p class="font-theme-colour">Download '{{ post.title() }}'</p>
                    </div>
                    <div class="large-6 columns">
                        <span class="fa-stack fa-lg"><i class="fa fa-file-text fa-stack-1x"></i></span>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}

    {%  if post.content() %}
        <h3 class="block-heading">Summary</h3>
        {{ post.content()  |  raw  }}
    {%  endif %}

    {%  if post.documentText() %}
        <h3 class="block-heading">Document text</h3>
        {{ post.documentText()  |  raw  }}
    {%  endif %}

    {% include "OutlandishAcadOowpBundle:Partial:connectedResources.html.twig" %}

    {{ render(controller('OutlandishAcadOowpBundle:Search:renderRelatedResources', {
    'post': post,
    'request': request
    } )) }}

{% endblock %}