{% extends '::layout.html.twig' %}

{% block title %}{{ post.title() }}{% endblock %}

{% block content %}

    <div class="full-width google-map">
        <div class="map" data-marker="true" data-lat="{{ map.lat | raw  }}" data-lng="{{ map.lng | raw  }}" data-zoom="16"></div>
    </div>
    <article class="section">
        <div class="row">
            <div class="large-20 columns">
                {% block postTitle %}<h1>{{ post.title() }}</h1>{% endblock %}
                {% if post.subtitle() %}
                    <p class="subtitle">{{ post.subtitle() }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="medium-8 medium-push-16 columns">
                {% include "OutlandishAcadOowpBundle:Partial:author.html.twig" %}
            </div>
            <div class="medium-16 medium-pull-8 columns">
                {{ post.featuredImage('large') | raw }}
                <div class="row">
                    <div class="large-20 columns">
                        {{ post.content() | raw }}
                    </div>
                </div>
            </div>
        </div>
        {% if contact_people | length > 0 %}
            <div class="contact-people">
                {% for person in contact_people %}
                    <div class="row">
                        <div class="contact-person large-10 columns">
                            {% if person.contact_person_existing | length > 0 %}
                                {#todo: add some more fields to person post type, like email, phone etc#}
                                <div class="contact-person-name">
                                    <p>{{ person.contact_person_existing.post_title }}</p>
                                </div>
                            {% else %}
                                <div class="contact-person-name">
                                    <p>{{ person.contact_person_name }}</p>
                                </div>
                                <div class="contact-person-phone">
                                    <p>T: {{ person.contact_person_phone }}</p>
                                </div>
                                <div class="contact-person-email">
                                    <p>E: {{ person.contact_person_email }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </article>
{% endblock %}

{% block footer %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endblock %}