{% extends '::layout.html.twig' %}

{% block title %}{{ post.title() | raw }}{% endblock %}

{% block content %}

    <article class="section">
        <div class="row">
            <div class="medium-15  columns ">
                <div class="content main">
                    {% block topElement %}{% endblock %}
                    {% block postDate %}{% endblock %}
                    {% block postTitle %}<h1>{{ post.title() | raw }}</h1>{% endblock %}
                    {% block subTitle %}
                        {% if post.subtitle() %}
                            <p class="subtitle">{{ post.subtitle() }}</p>
                        {% endif %}
                    {% endblock %}
                    {{ post.featuredImage('large') | raw }}

                    <div class="row">
                        <div class="large-24 columns">
                            <div class="content post">

                                {% block postContent %}

                                    {{ post.content() | raw }}

                                {% endblock %}

                            </div>
                        </div>
                    </div>
                    {% block bottomElement %}{% endblock %}
                </div>
            </div>
            <div class="medium-8 columns">
                {% block sideBar %}

                    {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
                    'post': post,
                    'title': 'page'} %}

                    <hr>

                    <h3 class="block-heading">Find out more</h3>
                    <ul class="side-menu">

                        {% block side_menu %}
                            {{ render(controller('OutlandishAcadOowpBundle:Navigation:renderSideMenu', {
                            'maxDepth' : 3,
                            'rootPost': post.getRoot()
                            })) }}
                        {% endblock %}

                    </ul>

                {% endblock %}
            </div>

        </div>
    </article>

{% endblock %}