{% extends '::layout.html.twig' %}

{% block title %}{{ post.title() | raw }}{% endblock %}

{% block content %}
    <article class="section">
        <div class="row">
            <div class="medium-8 medium-push-16 columns">
                {% block sideBar %}

                    {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
                    'post': post,
                    'title': 'page'} %}

                    <hr>

                    <ul class="side-menu">

                        <h3 class="block-heading">Find out more</h3>

                        {% block side_menu %}
                            {{ render(controller('OutlandishAcadOowpBundle:Navigation:renderSideMenu', {
                            'maxDepth' : 3,
                            'rootPost': post.getRoot()
                            })) }}
                        {% endblock %}

                    </ul>

                {% endblock %}
            </div>
            <div class="medium-15 end medium-pull-8 columns">
                <div class="content main">
                    {% block postDate %}{% endblock %}
                    {% block postTitle %}<h1>{{ post.title() | raw }}</h1>{% endblock %}
                    {% if post.subtitle() %}
                        <p class="subtitle">{{ post.subtitle() }}</p>
                    {% endif %}
                    {{ post.featuredImage('large') | raw }}
                    <div class="row">
                        <div class="large-24 columns">
                            <div class="content post">
                                {{ post.content() | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}