{% if not image %}{% set image = "thumbnail" %}{% endif %}
{% if not excerpt_length %}{% set excerpt_length = 400 %}{% endif %}

{% if image == "none" %}
    <a href="{{ item.permalink() }}" class="post-item {{ classes }}">
        {% include 'OutlandishAcadOowpBundle:Item:itemContent.html.twig' with {'item': item } %}
    </a>
{% else %}
    <a href="{{ item.permalink() }}" class="post-item {{ classes }}">
        <div class="row">
            <div class="columns large-6">
                {% block item_image %}{{ item.featuredImage(image) | raw }}{% endblock %}
            </div>
            <div class="columns large-18">
                {% include 'OutlandishAcadOowpBundle:Item:itemContent.html.twig' with {'item': item} %}
            </div>
        </div>
    </a>
{% endif %}