{% if not image %}{% set image = "thumbnail" %}{% endif %}
{% if not excerpt_length %}{% set excerpt_length = 400 %}{% endif %}

{% if image == 'none' or not item.featuredImage() %}
    <a href="{{ item.permalink() }}" class="post-item main {{ classes }}">

        {% block itemNoImageInclude %}
            {% include 'OutlandishAcadOowpBundle:Item:itemContent.html.twig' with {'item': item} %}
        {% endblock %}

    </a>
{% else %}
    <a href="{{ item.permalink() }}" class="post-item {{ classes }}">
        <div class="row">
            <div class="columns large-11">
                {% block item_image %}{{ item.featuredImage('large') | raw }}{% endblock %}
            </div>
            <div class="columns large-13">
                {% block itemInclude %}
                    {% include 'OutlandishAcadOowpBundle:Item:itemContent.html.twig' with {'item': item} %}
                {% endblock %}

            </div>
        </div>
    </a>
{% endif %}