{% if not image %}{% set image = "thumbnail" %}{% endif %}
{% if not tags %}{% set tags = "tags" %}{% endif %}
{% if not date %}{% set date = "none" %}{% endif %}
{% if not excerpt_length %}{% set excerpt_length = 400 %}{% endif %}

{% if image == 'none' or not item.featuredImage() %}
    <a href="{{ item.permalink() }}" class="post-item main {{ classes }}">

        {% block itemNoImageInclude %}
            {% include 'OutlandishAcadOowpBundle:Item:itemContent.html.twig' with {
            'item': item,
            'excerpt_length': excerpt_length,
            'date' : date,
            'tags' : tags
            } %}
        {% endblock %}

    </a>
{% else %}
    <a href="{{ item.permalink() }}" class="post-item {{ classes }}">
        <div class="row">
            <div class="columns large-11 ">
                <div class="post-item-image">
                    {% block item_image %}{{ item.featuredImage('large') | raw }}{% endblock %}
                    {% if 'image-overlay' in classes %}
                        <p class="date">{{ item.dateString("j M Y", true) | raw }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="columns large-13 {% if 'side-items' in classes %}equalise{% endif %}">

                {% block itemInclude %}
                    {% include 'OutlandishAcadOowpBundle:Item:itemContent.html.twig' with {
                    'item': item,
                    'excerpt_length': excerpt_length,
                    'date' : date,
                    'tags' : tags
                    } %}
                {% endblock %}

            </div>
        </div>
    </a>
{% endif %}