{% extends '::layout.html.twig' %}

{% block content %}



    <div class="row">

        <div class="columns large-16">

            <div class="row">
                <div class="columns large-24">

                    <h1>{{ post.title() | raw }}</h1>

                    {{ post.content() | raw }}

                </div>
            </div>

            {% if items | length > 0 %}

                {% if featuredItem %}{% endif %}

                {#<div class="row">#}
                    {#<div class="columns large-24">#}
                        {#<div class="sort-filter">#}
                            {#<span class="sort-by">Sort by</span> <a href="#" class="selected">Date</a><a href="#">Relevance</a><a href="#">Popularity</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                <div class="search-form">
                    {% for element in formElements %}
                        {{ element | raw }}
                    {% endfor %}
                </div>
                <div id="results">
                    <ul id="page-1" class="search-results">
                        {% block searchResults %}

                <div class="search-form">
                    {% for element in formElements %}
                        {{ element | raw }}
                    {% endfor %}
                </div>
                <div id="results">
                    <ul id="page-1" class="search-results">
                        {% include 'OutlandishAcadOowpBundle:Default:items.html.twig' %}
                    </ul>
                </div>

            {% else %}
                {% block noSearchResults %}{% endblock %}
            {% endif %}

        </div>

        <div class="columns large-7">

            {% block includeSide %}

                {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
                'post': post,
                'title': 'page'} %}

                {% if sideItems | length > 0 %}

                    <ul class="search-results sidebar">
                        {% for type in sideItems %}
                            {% if type.items | length > 0 %}
                                <li>
                                    <hr>
                                    <h3 class="block-heading">{{ type.title | raw }}</h3>
                                    <ul>
                                        {% for item in type.items %}
                                            {% block itemIncludeSide %}
                                                {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                                                'item': item,
                                                'excerpt_length': 150,
                                                'classes' : 'main'} %}
                                            {% endblock %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                {% endif %}

            {% endblock %}

        </div>

    </div>

{% endblock %}