{% extends 'OutlandishAcadOowpBundle:Default:defaultPost.html.twig' %}

{% block content %}

    <article class="section">
        <div class="row">
            <div class="medium-15 columns">
                <div class="content main contact">

                    {% if map | length > 0 %}

                        <div class="row">
                            <div class="large-24 columns">
                                <div class="google-map">
                                    <div class="map" data-marker="true" data-lat="{{ map.lat | raw  }}" data-lng="{{ map.lng | raw  }}" data-zoom="16"></div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    {% block mainContent %}

                        {{ parent() }}

                        {% if address %}

                            <div class="row">
                                <div class="large-24 columns">
                                    <h3 class="block-heading">Postal address</h3>
                                    <p>{{ address | raw }}</p>
                                </div>
                            </div>

                        {% endif %}

                    {% endblock %}

                    {% if contact_people | length > 0 %}

                        <div class="row">
                            <div class="large-24 columns">
                                <div class="contact-people">

                                    <h3 class="block-heading">Contact people</h3>

                                    <ul class="small-block-grid-2 medium-block-grid-3">

                                        {% for person in contact_people %}
                                            <li>
                                                <div class="contact-person">

                                                    {% if person.name.content | length > 0 %}
                                                        <p class="contact-name">
                                                            {{ person.name.prefix | raw }}
                                                            {{ person.name.content | raw }}
                                                            {{ person.name.suffix | raw }}
                                                        </p>
                                                    {% endif %}
                                                    {% if person.phone.content | length > 0 %}
                                                        <p>
                                                            {{ person.phone.prefix | raw }}
                                                            {{ person.phone.content | raw }}
                                                            {{ person.phone.suffix | raw }}
                                                        </p>
                                                    {% endif %}
                                                    {% if person.email.content | length > 0 %}
                                                        <p>
                                                            {{ person.email.prefix | raw }}
                                                            {{ person.email.content | raw }}
                                                            {{ person.email.suffix | raw }}
                                                        </p>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="medium-8 columns">

                {% block sideBar %}

                    {{ parent() }}

                {% endblock %}

            </div>
        </div>
    </article>

{% endblock %}



{% block footer %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endblock %}