{% extends 'OutlandishAcadOowpBundle:Page:postAbstract.html.twig' %}

{% block content_main %}

    <h1>{{ post.title() | raw }}</h1>

    {% if map | length > 0 %}

        <div class="google-map">
            <div class="map" data-marker="true" data-lat="{{ map.lat | raw  }}" data-lng="{{ map.lng | raw  }}" data-zoom="16"></div>
        </div>

        {{ post.content() | raw }}

        <h3 class="block-heading">Address</h3>

        <div class="address large">
            {{ address | raw }}
        </div>

    {% else %}

        {{ post.content() | raw }}

    {% endif %}

    {% if contact_people | length > 0 %}

        <h3 class="block-heading">Contacts</h3>

        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

            {% for person in contact_people %}

                <li>
                    {% if person.name.content | length > 0 %}
                        <h4>
                            {{ person.name.prefix }}
                            {{ person.name.content }}
                            {{ person.name.suffix }}
                        </h4>
                    {% endif %}
                    <ul class="fa-ul">
                        {% if person.phone.content | length > 0 %}
                            <li><span class="fa fa-phone fa-li"></span>{{ person.phone.content }}</li>
                        {% endif %}
                        {% if person.email.content | length > 0 %}
                            <li><span class="fa fa-envelope fa-li"></span>{{ person.email.content }}</li>
                        {% endif %}
                    </ul>
                </li>

            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endblock %}