<div class="row">
    <div class="large-24 columns">

        {% if organisations | length > 0 %}
            {% block associated_organisations %}
                <div id="associated-organisations" class="section">
                    <ul class="large-block-grid-5">
                        {% for org in organisations %}
                            <li>{{ org.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endblock %}
        {% endif %}

        {% block footer_main %}

            <div class="section">
                <div class="row">
                    <div class="large-4 columns">
                        {% block footer_navigation %}
                            <h2>Navigation</h2>
                            <nav>
                                <ul>
                                    {% for page in pages %}
                                        <li><a href="{{ page.permalink() }}">{{ page.title() }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        {% endblock %}
                    </div>
                    {% for section in sections %}
                        {% if loop.index < 5 %}
                            <div class="large-4 columns">
                                {% block footer_item %}
                                    <h2>{{ section.title }}</h2>
                                    {% set item = section.items | first %}
                                    {% include 'OutlandishSiteBundle:Default:defaultItem.html.twig' with {
                                    'item': item,
                                    'excerpt_length': 150,
                                    'image': 'none'} %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="large-4 columns">
                        {% block footer_address %}
                            {% if socialmedia | length > 0 %}
                                <ul class="social-media inline-list">
                                    {% for media in socialmedia %}
                                        <li>
                                            <a href="{{ media.permalink() }}" class="fa {{ media.type }}"></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <h2>logo</h2>
                            <p>{{ address | raw }}</p>
                            <p>
                                <span>email@emailaddress.com</span><br/>
                                <span>{{ phonenumber }}</span>
                            </p>
                        {% endblock %}
                    </div>
                </div>
            </div>

        {% endblock %}

        <div id="copyright">
            &copy; logo 2014
        </div>


    </div>
</div>