<ul class="bread-nav inline-list">
    {% for crumb in breadcrumbs %}
        {% if not crumb.url %}
            <li>{{ crumb.label }}</li>
        {% else %}
            {{ dump(crumb) }}
            <li><a title="{{ crumb.title }}" href="{{ crumb.url }}">{{ crumb.label }}</a></li>
        {% endif %}
    {% endfor %}
</ul>