<div class="event-details">
    <div class="row">
        <div class="large-24 columns">

            {% if post.dateString or post.address or latitude %}

                <hr>
                <h1>Event details</h1>

                {%  if post.endDateString() %}
                    <p>Start date: {{ post.startDateString("j F Y") | raw }}</p>
                    <p>End date: {{ post.endDateString() | raw }}</p>
                {% elseif post.dateString() %}
                    <p>Date: {{ post.startDateString("j F Y") | raw }}</p>
                {% endif %}

                {%  if post.startTime() %}
                    <p>Time: {{ post.startTime() | raw }}</p>
                {% endif %}

                {%  if post.address() %}
                    <p>Location: {{ post.address() | raw }}</p>
                {% endif %}

                {% if latitude | length > 0 and longitude | length > 0  %}
                    <div class="google-map">
                        <div class="map" data-marker="true" data-lat="{{ latitude | raw  }}" data-lng="{{ longitude | raw  }}" data-zoom="12"></div>
                    </div>
                {% else %}
                    <hr>
                {% endif %}

            {% endif %}

        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

